# GCP project IDs.
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
BQ_DATA_PROJECT=YOUR_DATA_PROJECT_ID
BQ_SEMANTIC_DATASET=semantic_layer
# BigQuery dataset location.
BQ_LOCATION=EU
BQ_MAX_BYTES_BILLED=1000000000
BQ_MAX_ROWS=100
BQ_TIMEOUT_SECONDS=30
